<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xs-12 col-md-12 col-sm-12">
        <div class="footer_logo">
          <img src="{{ site.url }}/assets/img/beriokna.svg" alt="БериОкна">
        </div>
      </div>
      <div class="col-lg-7 col-xs-12 col-md-12 col-sm-12">
        <div class="footer_menu">
          <nav>
            <ul>
              <li> <a href="{{ site.url }}/index.html">Главная</a> </li>
              <li><a href="{{ site.url }}/blog/about.html">О компании</a></li>
              <li><a href="{{ site.url }}/blog/ourwork.html">Наши работы</a></li>
              <li><a href="{{ site.url }}/blog/contact.html">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12">
        <div class="footer_tel">
          <a href="">+7(999) 628-42-88</a>
        </div>        
      </div>
    </div>
  </div>
    
  </div>

  
  
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">
  <script src="{{ site.url }}/assets/js/scripts.min.js"></script>
  <script src="{{ site.url }}/assets/libs/swiper/swiper.jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/assets/libs/jgallery/jgallery.js"></script>
  

</body>
</html>
